@media only screen and (max-width: 600px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 96px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .main_content {
    place-content: inherit !important;
  }
}